.skillsRate {
  display: grid;
  grid-gap: 25px 0;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  .progressBar {
    .labels {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .skill {
        font-family: "Inter-Bold";
      }
      .percentage {
        font-family: "Inter-Bold";
      }
    }
    .progress {
      background: grey;
      width: 100%;
      height: 7px;
      border-radius: 20px;
      > div {
        height: inherit;
        border-radius: inherit;
        background: var(--orange);
      }
    }
  }
}
