.buttonStyle {
  border: 0;
  padding: 15px 40px;
  border-radius: 30px;
  color: #fff;
  font-family: "Inter-Medium";
  font-size: 20px;
  cursor: pointer;
  background: var(--theme1);
  &:active {
    filter: contrast(250%);
  }
}
