html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
}
body {
  line-height: 1.5;
  font-family: "Inter-Light";
  text-align: left;
  scrollbar-width: 5px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px; /* width of the entire scrollbar */
}
::-webkit-scrollbar-track {
  background: rgb(233, 233, 233); /* color of the tracking area */
}
::-webkit-scrollbar-thumb {
  border-radius: 50px; /* roundness of the scroll thumb */
  border: 6px solid rgb(182, 181, 181); /* creates padding around scroll thumb */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter-SemiBold";
}

p {
  font-family: "Inter-Regular";
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --orange: #ff7213;
}
