.personalDetails {
  flex-wrap: wrap;
  grid-gap: 0 40px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 40px;
  align-items: flex-start;
  @media screen and (min-width: 800px) {
    display: grid;
  }
  .details {
    flex-grow: 1;
    border-bottom: 2px solid #5d5d5d;
    padding: 7px 0;
    .label {
      font-family: "Inter-Bold";
      margin-right: 12px;
      text-transform: capitalize;
    }
    .info {
      font-family: "Inter-Regular";
    }
  }
  .downloadCv {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    white-space: nowrap;
    border: 0;
    padding: 10px 40px;
    border-radius: 30px;
    color: var(--generalText);
    font-family: "Inter-Medium";
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    background: var(--theme1);
    @media screen and (min-width: 800px) {
      width: fit-content;
    }
  }
}
