.layout {
  height: 100%;
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 3fr 9fr;
  }
  .layoutBody {
    width: 100%;
    min-height: 100%;
    background: var(--bg-black-900);
    background: #161516;

    padding: 3% 3%;
    @media screen and (max-width: 1024px) {
      padding-top: 15%;
      padding-bottom: 30%;
    }
  }
}
