.skillsRate {
  display: grid;
  grid-gap: 25px 0;
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  .progressBar {
    .labels {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .skill {
        // font-family: "Inter-Bold";
      }
      .percentage {
        // font-family: "Inter-Bold";
      }
    }
    .progress {
      background: var(--grey2);
      width: 100%;
      height: 7px;
      border-radius: 20px;
      position: relative;
      > div {
        height: inherit;
        border-radius: inherit;
        background: var(--orange);
        .glowingBar,
        .glowingBar2 {
          height: inherit;
          border-radius: inherit;
          position: absolute;
          bottom: 0;
          animation-duration: 3s;
          animation-iteration-count: infinite;
          box-shadow: 0 0 15px #080400, 0 0 9px var(--orange);
          animation-name: example;
          @keyframes example {
            from {
              width: 0%;
            }
            to {
              width: inherit;
            }
          }
        }
        .glowingBar2 {
          animation-name: glowing2;
          animation-duration: 4s;
          @keyframes glowing2 {
            from {
              width: 0%;
            }
            to {
              width: inherit;
            }
          }
        }
      }
    }
  }
}
