.aboutComponent {
  height: 100%;
  overflow: auto;
  padding: 16px;
  .nameAndWork {
    color: #fff;
    margin-bottom: 20px;
    span {
      color: var(--orange);
      white-space: nowrap;
    }
  }
  .aboutMe {
    color: #fff;
    margin-bottom: 40px;
    text-align: justify;
  }
  .personalDetailsAndSkillsRate {
    color: #fff;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
    grid-gap: 40px;
    margin-bottom: 30px;
    @media screen and (min-width: 800px) {
      display: grid;
    }
  }
  .milestonesWrapperGrid {
    @media screen and (min-width: 800px) {
      display: flex;
      grid-gap: 25px;
    }
  }
}
