.pageHeading {
  margin-bottom: 60px;
  .heading {
    color: var(--generalText);
  }
  .hrOne,
  .hrTwo {
    background: var(--theme1);
    height: 4px;
    border-radius: 32px;
    border: 0;
  }
  .hrOne {
    margin-bottom: 5px;
    width: 60px;
  }
  .hrTwo {
    width: 30px;
  }
}
